<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="./css/style.css" />

    <title>Newsletter Signup</title>
  </head>
  <body>
    <div class="container pt-5 text-center htmlsetting">
      <h1 class="pb-2">Newsletter Signup</h1>
      <p class="pb-1 pcenterred">Created by Hernan Clarke</p>
      <p class="pb-1 pcentergray">
        This WebAPP showcases my knowledge of Server side integration<br />
        using Client / [Server - API - Server] Architecture
      </p>
      <form action="/" method="post">
        <div class="mb-3">
          <div
            class="form-label d-flex justify-content-end align-items-end pe-3"
          >
            <label
              for=""
              class="form-label d-flex justify-content-end align-items-end pe-3"
              style="min-width: 240px !important"
              >First Name</label
            >
            <input
              type="text"
              class="form-control"
              name="fname"
              style="width: 70%"
              aria-describedby="emailHelp"
              required
            />
          </div>
          <div
            class="form-label d-flex justify-content-end align-items-end pe-3"
          >
            <label
              for=""
              class="form-label d-flex justify-content-end align-items-end pe-3"
              style="min-width: 240px !important"
              >Last Name</label
            >
            <input
              type="text"
              class="form-control"
              name="lname"
              style="width: 70%"
              aria-describedby="emailHelp"
              required
            />
          </div>
          <div
            class="form-label d-flex justify-content-end align-items-end pe-3"
          >
            <label
              for="exampleInputEmail1"
              class="form-label d-flex justify-content-end align-items-end pe-3"
              style="min-width: 240px !important"
              >Email</label
            >
            <input
              type="text"
              class="form-control"
              name="email"
              style="width: 70%"
              aria-describedby="emailHelp"
              required
            />
          </div>
        </div>

        <!-- <button type="submit">Add me to your list</button> -->

        <button
          name="submit"
          class="btn btn-primary rounded-pill px-4"
          type="submit"
        >
          Add me to your newsletter mailing list
        </button>
      </form>
      <br />
      <p class="pb-1 pcenterlightblue">
        Frontend: HTML, CSS, BOOTSTRAP<br />
        Backend: NodeJS, ExpressJS <br />
        Integrated with the mailchimp server using standard API <br />with
        OAuth2 level authentication
      </p>
    </div>
    <!-- Bootstrap scripts and triggers -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
      integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
      crossorigin="anonymous"
    ></script>

  </body>
</html>
